<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Google Closure Helper</string>
	<key>uuid</key>
	<string>FF4E803E-646C-4E43-B387-81D5709A478C</string>
</dict>
</plist>
